{% for username in user%}
    <h1>{{username.user}}</h1>
{% endfor %}


<h2>{{tweet_count}} Total Tweets</h2>

{% for username in user %}
    
    <button><a href="/{{username}}/follow">FOLLOW (if you haven't already)</a></button>
    <button><a href="/{{username}}/unfollow">UNFOLLOW</a></button>

    
{% endfor %}




{% for items in tweets %}
    <div class="card" style="margin-bottom: 20px;">
        <div class="card-body">
            <h5 class="card-title">
                <a href="/userprofile/{{items.created_by.id}}">
                @{{ items.created_by }}</a>
            </h5>
            <p class="card-text">
                {{ items.content }}
            </p>
            <p><a href="/tweet/{{items.id}}">LINK TO TWEET</a></p>
        </div>
    </div>
{% endfor %}